---
layout: default
---

<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date_to_string }}</time>
  {{ content }}
</article>

<div>
  <script type="text/javascript">
    amzn_assoc_placement = "adunit0";
    amzn_assoc_search_bar = "false";
    amzn_assoc_tracking_id = "codeandclay-20";
    amzn_assoc_ad_mode = "manual";
    amzn_assoc_ad_type = "smart";
    amzn_assoc_marketplace = "amazon";
    amzn_assoc_region = "US";
    amzn_assoc_title = "Essential Reading";
    amzn_assoc_linkid = "2549653effd5e9609a5b8d325431d67c";
    amzn_assoc_asins = "1680506706,0134456475,1484257154,1617295213";
  </script>
  <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
</div>

{% if site.related_posts != empty %}
<aside class="related">
  <h3>Related posts</h3>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
          <small><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time></small>
        </a>
      </li>
    {% endfor %}
  </ul>
</aside>
{% endif %}
